# dependencies
node_modules

# build files
.next

# misc
.DS_Store
*/**/.DS_Store 

# local env files
.env.local

# lock files
pnpm-lock.yaml

# large files
lib/fonts
lib/plugins
app/globals.css

# notes 
notes.mdx