# dependencies
node_modules

# next.js
.cbm/

# misc
.DS_Store
*/**/.DS_Store 

# local env files
.env.local

# lock files
pnpm-lock.yaml

# large files
lib/fonts
lib/plugins
app/globals.css

# experimental
experimental

# notes 
notes.mdx