*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

html {
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply antialiased scroll-smooth font-sans text-base leading-7 bg-background text-foreground;
  font-feature-settings: var(--default-font-feature-settings, normal);
  font-variation-settings: var(--default-font-variation-settings, normal);
  font-synthesis: none;
  text-rendering: auto;
  line-height: var(--line-height-normal);
}

hr {
  @apply border-t border-solid border-border my-6;
}

abbr:where([class*=title]) {
  @apply underline underline-offset-4 decoration-foreground;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply font-sans;
}

b,
strong {
  @apply font-extrabold;
}

kbd,
samp,
pre {
  @apply font-mono text-sm;
}

code:where([class*="inline-code"]) {
  @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

sub,
sup {
  @apply tracking-normal;
}

button,
input,
optgroup,
select,
textarea,
::file-selector-button {
  @apply font-sans text-inherit bg-transparent tracking-normal;
}

input:where(:not([type="button"], [type="reset"], [type="submit"])),
select,
textarea {
  @apply border border-solid border-border rounded-md;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
  @apply appearance-auto;
}

summary {
  @apply list-decimal;
}

fieldset,
legend {
  @apply p-0;
}

::placeholder {
  @apply opacity-100;
  color: color-mix(in srgb, currentColor 50%, transparent);
}

:disabled {
  @apply cursor-default;
}

svg
{
  @apply block align-middle;
}

[hidden] {
  @apply !hidden;
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-4xl;
}

h2 {
  @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
}

a {
  @apply font-medium text-foreground no-underline;
}

p {
  @apply text-base text-muted-foreground leading-7 mt-6;
}

p:where([class="lead"]) {
  @apply text-xl;
}

p:where([class="muted"]) {
  @apply text-sm text-muted;
}

code:where([class="inline-code"]) {
  @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

small {
  @apply text-sm font-medium leading-none;
}

div:where([class="large"]) {
  @apply text-lg font-semibold;
}

table {
  @apply my-6 w-full overflow-y-auto indent-0 border-border border-collapse;
}

tr {
  @apply m-0 border-t p-0 even:bg-muted;
}

td {
  @apply border px-4 py-2 text-left;
}

th {
  @apply border px-4 py-2 text-left font-bold;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

ol {
  @apply list-none;
}

ul {
  @apply list-none;
}