*,
::after,
::before,
::backdrop,
::file-selector-button {
  @apply box-border m-0 p-0 border-none;
}

::selection {
  @apply bg-hl-idt text-zinc-50;
}

html {
  @apply antialiased text-inherit scroll-smooth;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply font-sans text-base leading-7 bg-background text-foreground;
  font-feature-settings: var(--default-font-feature-settings, normal);
  font-variation-settings: var(--default-font-variation-settings, normal);
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

hr {
  @apply border-t border-border border-solid h-px;
}

abbr:where([title]) {
  @apply underline decoration-dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

a {
  @apply text-inherit underline cursor-pointer;
}

b,
strong {
  @apply font-extrabold;
}

code,
kbd,
samp,
pre {
  @apply font-mono text-sm;
}

sub,
sup {
  @apply tracking-normal;
}

table {
  @apply indent-0 border-border border-collapse;
}

button,
input,
optgroup,
select,
textarea,
::file-selector-button {
  @apply font-sans text-inherit bg-transparent tracking-normal;
}

input:where(:not([type="button"], [type="reset"], [type="submit"])),
select,
textarea {
  @apply border border-solid border-border rounded-md;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
  @apply appearance-auto;
}

:-moz-focusring {
  @apply outline-inherit outline-1 outline-offset-2;
}

:-moz-ui-invalid {
  @apply shadow-none;
}

progress {
  @apply align-baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  @apply h-auto;
}

::-webkit-search-decoration {
  @apply appearance-none;
}

summary {
  @apply list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  @apply m-0;
}

fieldset {
  @apply m-0;
}

fieldset,
legend {
  @apply p-0;
}

menu,
ul,
ol {
  @apply list-none m-0 p-0;
}

textarea {
  @apply resize-y;
}

::placeholder {
  @apply opacity-100;
  color: color-mix(in srgb, currentColor 50%, transparent);
}

:disabled {
  @apply cursor-default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  @apply block align-middle;
}

img,
video {
  @apply max-w-full h-auto;
}

[hidden] {
  @apply !hidden;
}
/* From shadcn/ui typography (modified) - Still needs to be tested */
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
  @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
}

h5 {
  @apply mt-6 scroll-m-20 text-lg font-semibold tracking-tight;
}

h6 {
  @apply mt-6 scroll-m-20 text-base font-semibold tracking-tight;
}

a {
  @apply font-medium text-primary no-underline;
}

p {
  @apply text-muted-foreground leading-7 [&:not(:first-child)]:mt-6;
}

p:where([class="lead"]) {
  @apply text-xl text-muted-foreground;
}

p:where([class="muted"]) {
  @apply text-sm text-muted-foreground;
}

code:where([class="inline-code"]) {
  @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

small {
  @apply text-sm font-medium leading-none;
}

div:where([class="large"]) {
  @apply text-lg font-semibold;
}

table,
div > table {
  @apply my-6 w-full overflow-y-auto indent-0 border-border border-collapse;
}

tr {
  @apply m-0 border-t p-0 even:bg-muted;
}

td {
  @apply border px-4 py-2 text-left;
}

th {
  @apply border px-4 py-2 text-left font-bold;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

ol {
  @apply list-disc;
}

ul {
  @apply list-decimal;
}

/* .rainbow-border {
  @apply mb-12 w-full h-60 rounded-md p-4 border border-solid border-transparent bg-[image:var(--color-hl-border)] animate-rotate;
} */

.rainbow {
  width: 400px;
  height: 300px;
  border-radius: 50px;
  padding: 2rem;
  margin: auto;

  display: grid;
  place-content: center;
  text-align: center;

  font-size: 1.5em;

  --border-size: 1px;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #d53e33 0deg 90deg,
      #fbb300 90deg 180deg,
      #377af5 180deg 270deg,
      #399953 270deg 360deg
    )
    1 stretch;
  background: transparent;
}

.rainbow {
  animation: rotate 4s linear infinite;
}
