/* Mdx Components */
hl-line {
  line-height: var(--line-height-normal);
}

hl-line:before {
  counter-increment: hl-line-num 1;
  content: counter(hl-line-num);
  text-align: right;
  color: var(--color-hl-cmt);
  width: 28px;
  margin-left: -28px;
  margin-right: 28px;
  display: inline-block;
}

.hl-line-num {
  color: var(--color-hl-cmt);
}

hl-cls {
  color: var(--color-hl-cls);
}

hl-idt {
  color: var(--color-hl-idt);
}

hl-sgn {
  color: var(--color-hl-sgn);
}

hl-str {
  color: var(--color-hl-str);
}

hl-key {
  color: var(--color-hl-key);
}

hl-cmt {
  color: var(--color-hl-cmt);
}

hl-jsx {
  color: var(--color-hl-jsx);
}

hl-pty {
  color: var(--color-hl-pty);
}

hl-ent {
  color: var(--color-hl-ent);
}

.mdx ::selection {
  @apply bg-hl-idt text-zinc-50;
}

.mdx .anchor {
  visibility: hidden;
  cursor: pointer;
  width: 80%;
  max-width: 700px;
  margin-left: -1em;
  padding-right: 0.5em;
  text-decoration-line: none;
  position: absolute;
  color: var(--color-foreground);
}

.mdx .anchor:hover {
  visibility: visible;
}

.mdx .anchor:after {
  color: var(--color-muted-foreground);
  content: "#";
}

.mdx :hover > .anchor {
  visibility: visible;
}

.mdx pre {
  white-space: pre;
  margin: 40px 0 0 0;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  background: var(--color-background);
  box-shadow: var(--drop-shadow-3xl);
  font-size: var(--font-size-sm);
  line-height: var(--font-size-sm--line-height);
  padding: 5px 22px 15px 22px;
  overflow: scroll;
}

.mdx code {
  @apply font-mono font-medium text-sm;
  counter-reset: hl-line-num;
}

.mdx pre code {
  @apply border-none leading-normal;
}

.mdx img {
  @apply m-0;
}

.mdx .title {
  @apply text-balance text-foreground;
}

.mdx > ol {
  @apply my-6 ml-6 list-decimal [&>li]:mt-2;
}

.mdx > ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}
