/* Mdx + Highlight */
hl-line:before {
  counter-increment: hl-line-num 1;
  content: counter(hl-line-num);
  text-align: right;
  color: var(--color-hl-cmt);
  width: 28px;
  margin-left: -28px;
  margin-right: 28px;
  display: inline-block;
}

hl-line-num {
  color: var(--color-hl-cmt);
}

hl-cls {
  color: var(--color-hl-cls);
}

hl-idt {
  color: var(--color-hl-idt);
}

hl-sgn {
  color: var(--color-hl-sgn);
}

hl-str {
  color: var(--color-hl-str);
}

hl-key {
  color: var(--color-hl-key);
}

hl-cmt {
  color: var(--color-hl-cmt);
}

hl-jsx {
  color: var(--color-hl-jsx);
}

hl-pty {
  color: var(--color-hl-pty);
}

hl-ent {
  color: var(--color-hl-ent);
}

.mdx {
  @apply w-full sm:max-w-mdx;
}

.mdx:where([class*="title"]) {
  @apply font-medium text-center;
}

.mdx a {
  @apply underline transition-all decoration-accent-foreground underline-offset-2 decoration-[0.1em];
}

.mdx .anchor {
  visibility: hidden;
  cursor: pointer;
  max-width: var(--width-mdx);
  text-decoration-line: none;
  color: var(--color-foreground);
}

.mdx .anchor:hover {
  visibility: visible;
}

.mdx .anchor:after {
  color: var(--color-muted-foreground);
  content: "#";
}

.mdx code {
  counter-reset: hl-line-num;
}