/* Mdx + Highlight */
c-ln:before {
  counter-increment: c-ln-num 1;
  content: counter(c-ln-num);
  text-align: right;
  color: var(--color-c-cmt);
  width: 28px;
  margin-left: -28px;
  margin-right: 28px;
  display: inline-block;
}

c-ln-num {
  color: var(--color-c-cmt);
}

pre > div > code {
  counter-reset: c-ln-num;
}

c-cls {
  color: var(--color-c-cls);
}

c-idt {
  color: var(--color-c-idt);
}

c-sgn {
  color: var(--color-c-sgn);
}

c-str {
  color: var(--color-c-str);
}

c-key {
  color: var(--color-c-key);
}

c-cmt {
  color: var(--color-c-cmt);
}

c-jsx {
  color: var(--color-c-jsx);
}

c-pty {
  color: var(--color-c-pty);
}

c-ent {
  color: var(--color-c-ent);
}

[data-anchor] {
  visibility: hidden;
  cursor: pointer;
  max-width: var(--width-mdx);
  text-decoration-line: none;
  color: var(--color-foreground);
}

[data-anchor]:hover {
  visibility: visible;
}

[data-anchor]:hover:after {
  color: var(--color-muted-foreground);
  content: "#";
}