@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/components' layer(components);
@import 'tailwindcss/utilities' layer(utilities);

@theme {
  /* Timing */
  --default-transition-duration: 400ms;
  /* Colors */
  --color-*: initial;

  --fg: #f5f4ff;
  --bg: #00001e;

  --color-accent-pink: #ec4899;
  --color-accent-blue: #1712c8;
  --color-accent-sky: #22d3ee;

  --color-blue-50: #e8e7ff;
  --color-blue-100: #a6a4ed;
  --color-blue-200: #8581ff;
  --color-blue-300: #736eff;
  --color-blue-400: #5854d7;
  --color-blue-500: #1a14df;
  --color-blue-600: #1712c8;
  --color-blue-700: #0f17a0;
  --color-blue-800: #110a72;
  --color-blue-900: #0a0053;
  --color-blue-950: #050030;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e0e7ff;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-yellow-50: #fffdf4;
  --color-yellow-900: #453411;

  --color-red-50: #fef2f2;
  --color-red-900: #610404;

  --color-background: var(--fg);
  --color-foreground: var(--bg);
  --color-card: var(--fg);
  --color-card-foreground: var(--bg);
  --color-popover: var(--fg);
  --color-popover-foreground: var(--bg);
  --color-primary: var(--color-blue-600);
  --color-primary-foreground: var(--fg);
  --color-secondary: var(--color-slate-100);
  --color-secondary-foreground: var(--color-blue-600);
  --color-muted: var(--color-slate-200);
  --color-muted-foreground: #64748b;
  --color-accent: var(--bg);
  --color-accent-foreground: var(--color-accent-blue);
  --color-destructive: #ef4444;
  --color-destructive-foreground: var(--fg);
  --color-border: var(--color-slate-300);
  --color-input: var(--color-slate-300);
  --color-ring: var(--bg);

  --animate-rotate: rotate 2.5s linear infinite;

  @keyframes rotate {
    from {
      tranform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.dark {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-card: var(--bg);
  --color-card-foreground: var(--fg);
  --color-popover: var(--bg);
  --color-popover-foreground: var(--fg);
  --color-primary: var(--fg);
  --color-primary-foreground: var(--color-blue-600);
  --color-secondary: #1e293b;
  --color-secondary-foreground: var(--fg);
  --color-muted: #15152e;
  --color-muted-foreground: #94a3b8;
  --color-accent: var(--fg);
  --color-accent-foreground: var(--color-accent-sky);
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: var(--fg);
  --color-border: #1e293b;
  --color-input: #1e293b;
  --color-ring: var(--color-slate-300);
}

@base {
  * {
    border: 1px solid var(--color-border);
  }

  body {
    color: var(--color-text-foreground);
    background: var(--color-bg-background);
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
