hl-ln:before {
  counter-increment: hl-ln-num 1;
  content: counter(hl-ln-num);
  text-align: left;
  color: var(--color-hl-cmt);
  width: 20px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  display: inline-block;
}

hl-ln-num {
  color: var(--color-hl-cmt);
}

code:where([data-lang]) {
  counter-reset: hl-ln-num;
}

hl-cls {
  color: var(--color-hl-cls);
}

hl-idt {
  color: var(--color-hl-idt);
}

hl-sgn {
  color: var(--color-hl-sgn);
}

hl-str {
  color: var(--color-hl-str);
}

hl-key {
  color: var(--color-hl-key);
}

hl-cmt {
  color: var(--color-hl-cmt);
}

hl-jsx {
  color: var(--color-hl-jsx);
}

hl-pty {
  color: var(--color-hl-pty);
}

hl-ent {
  color: var(--color-hl-ent);
}